/*-------------
    RESET
--------------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*-------------
    GENERAL
--------------*/

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/*-------------
    HEADER
--------------*/

/*-------------
    HEADER TOP
--------------*/

.header-top {
    background-color: #add8e6;
    padding: 15px 0;
}

.header-top>.container {
    display: flex;
    background-color: #daa520;
}

.logo {
    text-align: left;
    width: 20%;
}

nav {
    width: 60%;
    text-align: center;
}

.login {
    text-align: right;
    width: 20%;
}

.header-top>.container>* {
    border: 1px dashed black;
    padding: 10px;
}

/*------------------
    HEADER BOTTOM
-------------------*/

.header-bottom {
    background-color: #00008b;
    padding: 50px 0;
}

.hero {
    display: flex;
    max-width: 900px;
    min-height: 400px;
    background-color: #ee82ee;
    margin-left: auto;
    margin-right: auto;
    border: 1px dashed black
}

/*-------------
    MAIN
------------*/

/*-------------------------
    MAIN'S DOUBLE COLUMNS
---------------------------*/

.columns {
    padding: 50px 0;
}

.col-big {
    background-color: #1e90ff;
    width: 720px;
    border: 1px dashed black;
    height: 500px;
}

.col-small {
    background-color: #ffc0cb;
    width: 480px;
    border: 1px dashed black;
    height: 500px;
}

.columns-grey-back {
    background-color: #d3d3d3;
    padding: 50px 0;
}

.columns-grey-back>.container {
    display: flex;
}

.columns>.container {
    display: flex;
}